server {
    listen ${container_port};
    server_name  localhost ssl;
    ssl_certificate /etc/nginx/conf.d/ssl.crt;
    ssl_certificate_key /etc/nginx/conf.d/ssl.key;

    location = /50x.html {
      root   /usr/share/nginx/html;
    }

    location / {
      root   /usr/share/nginx/html;
      #index  index.html index.htm;
    }
    error_page   500 502 503 504  /50x.html;
}
