%{ for server in server_list ~}
server {
  server_name ~^${ server.name }*;
  listen ${ container_port } %{ if can(server.ssl_data) }ssl%{ endif };
  include conf.d/ingress.conf;
  %{ if can(server.ssl_data) }
  ssl_certificate /etc/nginx/ssl/${ server.name }/ssl_certificate.crt;
  ssl_certificate_key /etc/nginx/ssl/${ server.name }/ssl_certificate_key.key;
  %{ endif }
  location / {
   proxy_pass http://${ server.name }:${ server.app_port };
  }
}
%{ endfor ~}
