%{ for server in server_list ~}
server {
  server_name ~^${ server.name }*;
  listen ${ container_port } %{ if can(server.ssl_data) }ssl%{ endif };
  #resolver ${ resolver } valid=10s;
  include conf.d/ingress.conf;
 location / {
   set $upstream http://${ server.name }.${ namespace }${ route_path_for_config }:${ server.app_port };
   proxy_pass $upstream;
 }
}
%{ endfor ~}
