%{ for server in server_list ~}
server {
 listen ${ container_port };
 #resolver ${ resolver } valid=10s;
 server_name ${ server.app_name }.local;
 location / {
   set $upstream http://${ server.app_name }.${ namespace }.svc.cluster.local:9090;
   proxy_pass $upstream;
 }
}
%{ endfor ~}
