-----BEGIN CERTIFICATE-----
MIIDfzCCAmegAwIBAgIJAMMrvw9yS4FpMA0GCSqGSIb3DQEBCwUAMFYxCzAJBgNV
BAYTAlJVMQwwCgYDVQQIDANNU0sxDDAKBgNVBAcMA01TSzEcMBoGA1UECgwTRGVm
YXVsdCBDb21wYW55IEx0ZDENMAsGA1UECwwEVW5pdDAeFw0yMDEyMjMwOTQ2NTVa
Fw0yMTAxMjIwOTQ2NTVaMFYxCzAJBgNVBAYTAlJVMQwwCgYDVQQIDANNU0sxDDAK
BgNVBAcMA01TSzEcMBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDENMAsGA1UE
CwwEVW5pdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANT8sf8J/sZ4
zqHDftBR/pZKBBUsEEzpBlGxyCN7TCYDzDMW7XzDGBkfGmmmbGnQi7IBnoDkjukg
qdFBoory05ioXKkfSTutwBm0KsrK2vScC13NMzzp6Wopa/gF1zHBdz/3yeCgtIX8
U2cGkB+MzqYn1R3LgeP5K4YvLQKUSZrsbIXbXykWLSxi+BcCLyWIT7KPa0T/k0kA
A+/Yrq/QLOHDJKU9VQKnozxiqeMFaeF1brELiwZ5/U8NZY9beEmA9a03iemF1qMq
wIFZaXRBo6ashPUMM9/aIPICxR3e97jz3KCSr/G1EV4E6Aq2FaxaktIBF4RB+DFj
Q6uK/ITNkJcCAwEAAaNQME4wHQYDVR0OBBYEFI3bGkuudtasJAL48el4jqqFcxjr
MB8GA1UdIwQYMBaAFI3bGkuudtasJAL48el4jqqFcxjrMAwGA1UdEwQFMAMBAf8w
DQYJKoZIhvcNAQELBQADggEBAHMIEhy+BL2Lj3Mgp+ZAXWdxUboZNO6A0fFkXk3i
q94//UiJvmvsBIYVmGYTMFudAnYT9tqPZHbm+dlmP6fEgQI7OB07y6iNDqwfnhbY
UJz3jTtytowNVO8ubRUDaeYuRP/qUU/i4QAFsxOoO04NjJ/sD9B2uVLW8Zr5veCp
f3slhf3duRKfvy9Tz3/aEE1BqOeijwsUF3VmFbyzM/y0Dcqfm7BNzfHTkeKy3mtl
bMVYxfkbm2kKoKEPCmiw4FQF8nNI51mYxvBEa2/UfuWY1lCIY83JtCcTrxMj/1Yl
MaXYTud+XXIBNUoDt+QvancQIAJB10JhIBOXaMbhy9Omz+8=
-----END CERTIFICATE-----
